<h1>New Task</h1>

<%= form_for(Task.new) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :details %>
<%= f.text_field :details %>
<%= f.submit %>
<% end %>

<i class="fas fa-undo-alt"></i> <%= link_to 'Back to list', tasks_path %>
